.player class=player_class
  - %w(idle attack move die).each do |action|
    - %w(up down left right).each do |direction|
      .player-action class=([action, direction].join)
  .player-stats
    .player-name= player.name
    .player-heath-wrapper: .player-heath
