.game-field-wrapper: .game-field
  .game-end
  .battlefield: table
    thead
      - 10.times do |i|
        th= i.zero? ? '' : i
    tbody
      - 9.times do |i|
        tr
          td.y-value= i + 1
          - 9.times do |i2|
            td.squire
  = render 'player', player_class: 'player1', player: @player1
  = render 'player', player_class: 'player2', player: @player2
ul.commands
  - @commands.each do |command|
    li.command = command
javascript:
  game = new GamePreview(#{{ @commands.to_json }});
  game.run();
