/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .battlefield {
   display: inline-block;
   vertical-align: top;
   position: absolute;
   width: 235*10px;
   height: 173*10px;
   top: -20px;
   left: -20px;
 }
 .console-wrapper {
   display: inline-block;
   vertical-align: top;
   padding-top: 20px;
   textarea {
     width: 300px;
     height: 500px;
   }
 }
table {
  border-collapse: collapse;
  th {
    height: 20px;
  }
  tbody {
    td.squire {
      width: 80px;
      height: 59px;
      border: 1px solid rgb(62, 111, 62);
    }
    td.y-value {
      width: 20px
    }
  }
}

.game-field-wrapper {
  background: transparent image-url('grass.jpg') repeat;
  padding: 90px 0 0 40px;
  height: 173*10px;
  width: 235*9px + 50px;
}
.game-field {
  height: 173*10px;
  width: 235*10px;
  position: relative;
}

.player.player1 .player-action.idleright {
  display: inline-block;
}

.player.player2 .player-action.idleleft {
  display: inline-block;
}


.player .player-stats {
  position: absolute;
  width: 60px;
  bottom: 20px;
  left: 90px;
  .player-name {
    font-weight: bold;
    text-align: center;
  }

  .player-heath-wrapper {
    width: 50px;
    height: 5px;
    border: 1px solid black;
    position: relative;
    .player-heath {
      position: absolute;
      height: 5px;
      background: yellow;
    }
  }
}

.game-end {
  position: absolute;
  top: 200px;
  font-size: 70px;
  width: 750px;
  z-index: 200;
  text-align: center;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  &.win {
    color: green;
  }

  &.loose {
    color: red;
  }

  &.tie {
    color: yellow;
  }
}

.player {
  $height: 173px;
  $width: 235px;
  display: inline-block;
  height: $height;
  width: $width;
  position: absolute;
  margin-top: -80px;
  margin-left: -60px;

  .player-action {
    display: inline-block;
    vertical-align: bottom;
    background: transparent no-repeat;
    display: none;

    &.idleleft, &.idleright, &.idleup, &.idledown {
      background-image: image-url('bSpearman_Idle_strip8.png');
      height: 158px;
      width: 183px;
    }

    &.idleleft {
      background-position-x: -2 * 183px;
    }

    &.idleright {
      background-position-x: -6 * 183px;
    }

    &.idleup {
      background-position-x: -4 * 183px;
    }

    &.idledown {
      background-position-x: 0 * 183px;
    }

    &.attackright {
      background-image: image-url('bSpearman_Attack01_Right_strip8.png');
      height: 130px;
      width: 235px;
      margin-left: -30px;
    }

    &.attackleft {
      background-image: image-url('bSpearman_Attack01_Left_strip8.png');
      height: 139px;
      width: 231px;
      margin-left: -20px;
      margin-top: -10px;
    }

    &.attackdown {
      background-image: image-url('bSpearman_Attack01_Down_strip8.png');
      height: 173px;
      width: 158px;
      margin-top: -20px;
      margin-left: -10px;
    }

    &.attackup {
      background-image: image-url('bSpearman_Attack01_Up_strip8.png');
      height: 158px;
      width: 144px;
      margin-left: 30px;
    }

    &.movedown {
      background-image: image-url('bSpearman_Walk_Down_strip10.png');
      height: 134px;
      width: 104px;
      margin-left: 30px;
    }

    &.moveup {
      background-image: image-url('bSpearman_Walk_Up_strip10.png');
      height: 159px;
      width: 98px;
      margin-left: 30px;
    }

    &.moveleft {
      background-image: image-url('bSpearman_Walk_Left_strip10.png');
      height: 123px;
      width: 203px;
    }

    &.moveright {
      background-image: image-url('bSpearman_Walk_Right_strip10.png');
      height: 123px;
      width: 191px;
    }


    &.diedown {
      background-image: image-url('bSpearman_Die_Down_strip8.png');
      height: 158px;
      width: 155px;
    }

    &.dieup {
      background-image: image-url('bSpearman_Die_Up_strip8.png');
      height: 158px;
      width: 153px;
      margin-left: 30px;
    }

    &.dieleft {
      background-image: image-url('bSpearman_Die_Left_strip8.png');
      height: 155px;
      width: 203px;
    }

    &.dieright {
      background-image: image-url('bSpearman_Die_Right_strip8.png');
      height: 154px;
      width: 144px;
    }

  }
}
